@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgb(230, 229, 227);
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
}

/* Modal */
.js-modal-content {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  text-align: center;

  /* background-color: #fff; */
  background-color: rgb(0, 0, 0);
}

.modal-title {
  letter-spacing: 3px;
  font-size: 3rem;
  color: var(--secondary-color);
  line-height: 3rem;
  margin-bottom: 3rem;
}

.js-modal-btn {
  transition: all 0.3s ease-in-out;
}

.js-modal-btn:hover {
  color: var(--primary-color);
  background: #fff;
}

/* Modal style */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 235, 241, 0.827);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -10;
  overflow: scroll;
}

.modal-overlay::-webkit-scrollbar {
  width: 6px;
}

.modal-overlay::-webkit-scrollbar-track {
  background: rgb(230, 229, 227);
}

.modal-overlay::-webkit-scrollbar-thumb {
  background-color: rgb(223, 223, 228);
  border-radius: 20px;
}

/* To add in our JS app */
.show-container {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90vw;
  background: #fff;
  margin: 0 auto;
  align-items: center;
  letter-spacing: 3px;
  border-radius: 8px;
}

.btn-close {
  border: transparent;
  background: transparent;
  font-size: 2rem;
  color: rgb(234, 232, 232);
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btn-close:hover {
  color: rgb(184, 181, 181);
  transform: scale(1.25);
}

.reveal {
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.greet-span {
  color: #0751d1;
}

.greet-1 {
  color: #8892b0;
}

@media (max-width: 992px) {
  body.active {
    overflow: hidden;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    background-color: #fff;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    height: 70px;
  }

  .navbar img {
    height: 100px;
    border-radius: 50%;
    overflow: visible;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    transition: 0.6s ease;
    padding: 10px 12px;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }

  .bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6070ff;
    border-radius: 2px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(5.5px) rotate(45deg);
    background-color: #fff;
    position: fixed;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-5.5px) rotate(-45deg);
    background-color: #fff;
    position: fixed;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #384ae6;
    list-style-type: none;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 28px;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
    z-index: 1;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('./images/header-shapes-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border-radius: 0 0 0 5rem;
    padding: 140px 24px;
  }

  #header-intro {
    font-size: 30px;
    line-height: 42px;
    color: #172b4d;
    font-style: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .author-name {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  .greet {
    display: block;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }

    80% {
      transform: translateX(5px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }

    80% {
      transform: translateX(-5px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  #header-bio {
    color: #344563;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .header-social-icons {
    display: flex;
    flex-direction: column;
  }

  #header-connect {
    color: #001aff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .header-social-icons-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 6px 0;
    padding: 0;
    width: 170px;
    height: 20px;
    color: #000;
  }

  footer a {
    color: #e2edff;
    margin-top: 1rem;
  }

  .js-modal-links a {
    color: rgb(226, 237, 255);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 12px 5px;
    text-decoration: none;
  }

  .header-social-icons-list li a {
    color: #000;
  }

  .project-container img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  #js-modal-image {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 12px;
  }

  .about-language img {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .js-modal-links img {
    height: 20px;
    width: 17.985200881958008px;
    left: 0.013671875px;
    top: 0;
    border-radius: 0;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 142px 24px;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }

  .project-content h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #dbe8ff;
    margin: 0;
    padding: 5px 5px 5px 0;
  }

  #project-company {
    color: #e2edff;
  }

  .project-content p {
    color: #344563;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
  }

  .project-info,
  .js-modal-content-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #js-modal-company {
    color: #e2edff;
  }

  .project-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: circle;
    margin: 0;
    padding: 13px 0 13px 30px;
  }

  .js-modal-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: circle;
    margin: 0;
    padding-left: 10px;
  }

  .project-backend,
  .js-modal-backend {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #e2edff;
  }

  .project-year,
  .js-modal-year {
    margin-left: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #e2edff;
  }

  #js-modal-description {
    color: #a8b2d1;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 12px 12px;
  }

  .js-modal-links {
    display: flex;
    margin: 20px 12px;
    border: 1px solid blue;
    width: 100%;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px;
    height: 48px;
    left: 157px;
    bottom: 4px;
  }

  .project-container p {
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    color: #a8b2d1;
  }

  .project-technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 12px 0;
  }

  .project-technologies li {
    color: #6070ff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    margin: 10px 10px 10px 0;
    padding: 8px 12px;
    background: #ebebff;
    border-radius: 4px;
  }

  .js-btn {
    cursor: pointer;
    color: #396df2;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #396df2;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 0;
    text-decoration: none;
    padding: 10px;
  }

  .js-btn:hover {
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: #6070ff;
    border: 1px solid #396df2;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 0;
    text-decoration: none;
    padding: 10px;
  }

  .js-btn:focus {
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #4053fc;
    border: 1px solid #396df2;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 0;
    text-decoration: none;
    padding: 10px;
  }

  .js-btn:disabled {
    cursor: pointer;
    color: #5e6c84;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: #e5e5e5;
    border: 1px solid #396df2;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 0;
    text-decoration: none;
    padding: 10px;
  }

  .js-btn.active {
    cursor: pointer;
    color: #396df2;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #396df2;
    border-radius: 6px;
    width: 130px;
    height: 50px;
    margin: 5px 5px 5px 0;
    text-decoration: none;
    padding: 10px;
  }

  .project-container.active {
    display: flex;
    flex-direction: column;
    background: rgb(0, 0, 0);
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 142px 24px;
  }

  #about-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 6rem 0 0;
  }

  #about-inner {
    margin: 114px 24px 20px 24px;
  }

  #about-inner h3 {
    margin: 12px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about-language p {
    color: #253858;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }

  .js-modal-content-top p {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    margin: 0 12px;
  }

  #about-inner p {
    color: #344563;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0;
    align-self: center;
  }

  #about-connect {
    color: #001aff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 0;
  }

  .about-social-icons {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .about-social-icons li a {
    color: #000;
    margin: 0;
    padding-right: 16px;
  }

  .about-language {
    display: flex;
    padding: 5px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    list-style-type: none;
  }

  #resume {
    margin-top: 36px;
  }

  #about-get-resume {
    text-decoration: none;
    cursor: pointer;
    margin: 32px 16px 0 8px;
    border: 1px solid #396df2;
    background-color: #fff;
    border-radius: 7px;
    padding: 0.8rem 1rem;
    color: #396df2;
  }

  #about-get-resume:hover {
    text-decoration: none;
    cursor: pointer;
    margin: 32px 16px 0 8px;
    border: 1px solid #cfd8dc;
    background: #131a6f;
    border-radius: 7px;
    color: #fff;
    padding: 0.8rem 1rem;
  }

  .about-showcase-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    margin-right: 8.875rem;
    margin-left: auto;
    margin-bottom: 103px;
  }

  .accordion {
    background-color: white;
    color: #344563;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: 0.4s;
    margin: 5px 16px;
    padding: 10px 5px;
    float: right;
  }

  .accordion::after {
    content: '\02C3';
    color: black;
    float: right;
  }

  .panel {
    display: flex;
    flex-direction: row;
    color: #344563;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    justify-items: center;
    margin-left: 16px;
  }

  .seperator {
    height: 0.5px;
    width: 100%;
    border: 1px solid #dfe1e6;
    margin-left: 20px;
  }

  .about-languages-list {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-top: 0;
  }

  #about-social-icons {
    margin: 8px 20px;
  }

  #contacts-container {
    padding: 0;
    background-color: #fff;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/contact-form-shapes-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px 0 0 0;
    background-color: #000;
    padding-top: 113px;
  }

  #contact-me {
    color: #e2edff;
    font-weight: bold;
    font-size: 25px;
    padding-left: 30px;
    line-height: 35px;
  }

  #contact-text {
    color: #a8b2d1;
    margin: 6px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 85%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .name {
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 60px 0 10px 0;
    padding: 10px;
    height: 40px;
  }

  .name::placeholder {
    padding-left: 10px;
  }

  ::placeholder {
    color: #c8ced8;
    opacity: 1;
  }

  .email {
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
    height: 40px;
  }

  .email::placeholder {
    padding-left: 10px;
  }

  .textarea {
    padding: 14px;
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 12px 0 12px 0;
    height: 170px;
    box-sizing: border-box;
  }

  .error {
    color: #000;
  }

  #success {
    color: #00ff3c;
    float: right;
  }

  .contact-button {
    margin: 17px 0 47px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #fff;
    border-radius: 8px;
    color: #001aff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
  }

  .contact-button:hover {
    margin: 17px 0 47px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #6070ff;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  .contact-button:active {
    margin: 17px 0 47px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #2230d2;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  .contact-button:disabled {
    margin: 17px 0 47px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #e5e5e5;
    color: #5e6c84;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
  }

  .js-modal-container {
    display: flex;
    padding: 16px;
  }

  .js-modal-technologies {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 8px;
  }

  .js-modal-technologies li {
    color: rgb(96, 112, 255);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 5px;
    padding: 4px 7px;
    background: rgb(235, 235, 255);
    border-radius: 8px;
  }

  .js-modal-content h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #e2edff;
    margin: 30px 12px;
  }

  .modal-title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 70px;
    padding: 0 24px;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 35px;
  }

  .navbar img {
    height: 130px;
    margin: 15px 155px;
    border-radius: 50%;
    overflow: visible;
    margin-top: 85px;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    transition: 0.6s ease;
    padding: 10px 12px;
    color: #344563;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }

  .nav-link:hover {
    color: dodgerblue;
  }

  .hamburger {
    display: none;
  }

  header {
    padding: 0 8px 76.54px 8px;
    background-image: url('./images/Header-bg.svg');
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    background-color: #fff;
    border-radius: 0 0 0 70px;
  }

  header h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    padding: 190px 260px 6px 260px;
    color: #091e42;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .author-name {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  .greet {
    display: block;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
  }

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  header p {
    margin: 6px 260px;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  footer h2 {
    margin-top: 103px;
    margin-bottom: 6px;
    color: #e2edff;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .header-social-icons h2 {
    margin: 15px 106px 7px 260px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #001aff;
  }

  .header-social-icons-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 12px 250px;
    padding: 12px;
    width: 170px;
    height: 20px;
    cursor: pointer;
  }

  footer a {
    color: #e2edff;
    margin-top: 1rem;
  }

  .js-modal-links a {
    color: rgb(226, 237, 255);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding: 12px 5px;
  }

  .header-social-icons-list li a {
    color: #000;
  }

  .project-container {
    display: flex;
    flex-direction: row;
    background: rgb(0, 0, 0);
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin: 142px;
  }

  .modal-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60%;
    background: #fff;
    margin: 0 auto;
    align-items: center;
    letter-spacing: 3px;
    border-radius: 8px;
  }

  .js-modal-container {
    display: flex;
    flex-direction: row;
    background: #fff;
    border: 1px solid #dfe1e6;
  }

  .project-container img {
    margin: 23px;
    width: 40%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #js-modal-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #js-modal-btn-container button {
    display: inline;
  }

  #curser {
    width: 57px;
    height: 57px;
    background: url('./images/hand-cursor.png') right bottom no-repeat;
    transform: rotate(-10deg);
    align-self: flex-end;
  }

  #button {
    background: #4053fc;
    color: #fff;
    text-decoration: none;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    padding: 23px;
    margin: 0;
  }

  .project-content h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #dbe8ff;
    margin: 10px;
    padding: 5px;
  }

  .js-modal-content h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    color: #e2edff;
    margin: 12px;
  }

  .js-modal-content {
    width: 100%;
  }

  .project-content p {
    color: #a8b2d1;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 10px 10px;
    padding: 5px 0 5px 5px;
  }

  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
  }

  #project-company {
    color: #e2edff;
  }

  .js-modal-content-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 12px;
  }

  #js-modal-company {
    color: #e2edff;
    margin-top: 12px;
  }

  .js-modal-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    list-style-type: circle;
  }

  .project-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    list-style-type: circle;
  }

  .js-modal-backend {
    padding-left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #e2edff;
  }

  .project-backend {
    padding-left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #e2edff;
  }

  .js-modal-year {
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #e2edff;
  }

  .project-year {
    margin-left: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #e2edff;
  }

  #js-modal-image {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
  }

  #js-modal-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #a8b2d1;
    margin: 24px 12px;
    text-align: justify;
  }

  #js-modal-content-bottom {
    display: flex;
    flex-direction: row;
  }

  #js-modal-content-bottom-description {
    width: 75%;
  }

  .js-modal-technologies {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 10px;
  }

  .js-modal-technologies li {
    color: rgb(96, 112, 255);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 5px;
    padding: 4px 7px;
    background: rgb(235, 235, 255);
    border-radius: 8px;
  }

  .js-modal-links {
    display: flex;
    margin: 20px 12px;
    border: 1px solid blue;
    width: 100%;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px;
    height: 48px;
    left: 157px;
    bottom: 4px;
  }

  .js-modal-links img {
    height: 20px;
    width: 17.985200881958008px;
    left: 0.013671875px;
    top: 0;
    border-radius: 0;
  }

  .project-technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 11px;
  }

  .project-technologies li {
    color: #6070ff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
    margin: 5px;
    padding: 4px 7px;
    background: #ebebff;
    border-radius: 8px;
  }

  .js-btn {
    cursor: pointer;
    color: #396df2;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 12px;
    margin: 17px;
    width: 130px;
    height: 50px;
  }

  .js-btn:hover {
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #2230d2;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 12px;
    width: 130px;
    height: 50px;
  }

  .js-btn:focus {
    cursor: pointer;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #2230d2;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 12px;
    width: 130px;
    height: 50px;
  }

  .js-btn:disabled {
    cursor: pointer;
    color: #5e6c84;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    background: #e5e5e5;
    border: 1px solid #396df2;
    border-radius: 8px;
    padding: 12px;
    width: 130px;
    height: 50px;
  }

  #about-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0 6rem 0 0;
    padding: 57px 24px 0 24px;
    margin: 70px 0 0 0;
  }

  #about-social-icons {
    margin: 8px 20px;
  }

  #about-connect {
    color: #2230d2;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 6px 6px;
  }

  #about-inner {
    margin: 142px 0 142px 142px;
    width: 30%;
  }

  #about-inner h3 {
    margin: 6px;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about-language {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 20%;
    padding: 20px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    list-style-type: none;
  }

  .about-language p {
    color: #253858;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  #about-inner p {
    align-self: center;
    margin: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  #resume {
    margin-top: 36px;
  }

  #about-get-resume {
    text-decoration: none;
    cursor: pointer;
    margin: 32px 16px 0 8px;
    border: 1px solid #396df2;
    background-color: #fff;
    border-radius: 7px;
    padding: 0.8rem 1rem;
    color: #396df2;
  }

  #about-get-resume:hover {
    text-decoration: none;
    cursor: pointer;
    margin: 32px 16px 0 8px;
    border: 1px solid #cfd8dc;
    background: #2230d2;
    border-radius: 7px;
    color: #fff;
    padding: 0.8rem 1rem;
  }

  .about-languages-list {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }

  .about-language img {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
  }

  .about-social-icons {
    list-style: none;
    display: flex;
    padding: 0;
  }

  .about-social-icons li a {
    color: #000;
    margin: 0;
    padding: 0 8px;
  }

  #contacts-container {
    padding: 0;
    background-color: #fff;
    height: auto;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/contact-form-background-shapes.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 70px 0 0 0;
    background-color: #000;
    width: 100%;
    height: 100%;
  }

  #contact-text {
    color: #a8b2d1;
    margin: 6px 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    width: 569px;
  }

  ::placeholder {
    color: #c8ced8;
    opacity: 1;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 447px;
    height: auto;
  }

  .name {
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 87px 0 10px 0;
    padding: 10px;
    height: 40px;
  }

  .name::placeholder {
    padding-left: 10px;
  }

  .email {
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 2px;
    padding: 10px;
    margin: 10px 0;
    height: 40px;
  }

  .email::placeholder {
    padding-left: 10px;
  }

  input,
  textarea {
    resize: none;
  }

  .textarea {
    padding: 14px;
    border: 1px solid blue;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    margin: 12px 0 12px 0;
    height: 170px;
    box-sizing: border-box;
    resize: none;
  }

  .error {
    color: #000;
  }

  #success {
    color: #00ff3c;
    float: right;
  }

  .contact-button {
    cursor: pointer;
    margin: 27px 0 127px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    background: #fff;
    border-radius: 8px;
    color: #001aff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
    align-self: center;
  }

  .contact-button:hover {
    cursor: pointer;
    margin: 27px 0 127px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    border-radius: 8px;
    background: #2230d2;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
    align-self: center;
  }

  .contact-button:active {
    cursor: pointer;
    margin: 27px 0 127px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    border-radius: 8px;
    background: #2230d2;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
    align-self: center;
  }

  .contact-button:disabled {
    cursor: pointer;
    margin: 27px 0 127px 0;
    padding: 12px 16px;
    width: 30%;
    height: 10%;
    border-radius: 8px;
    background: #e5e5e5;
    color: #5e6c84;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    border: 1px solid #cfd8dc;
    min-width: 140px;
    align-self: center;
  }

  .modal-title {
    font-size: 2rem;
  }

  .about-showcase-container {
    display: flex;
    flex-direction: column;
    margin-top: 166px;
    width: 45%;
    margin-right: 8.875rem;
    margin-left: auto;
  }

  .accordion {
    background-color: white;
    color: #344563;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: 0.4s;
    margin: 5px 16px;
    padding: 10px 5px;
    float: right;
  }

  .accordion::after {
    content: '\02C3';
    color: black;
    float: right;
  }

  .panel {
    display: flex;
    flex-direction: row;
    color: #344563;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    justify-items: center;
    margin-left: 16px;
  }

  .seperator {
    height: 0.5px;
    width: 100%;
    border: 1px solid #dfe1e6;
  }
}
